.body {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}

  /*.profile-background {
    background: url('path_to_profile_background.jpg') no-repeat center center fixed;
    background-size: cover;
  }*/
  