<div class="container">
    <mat-card class="card login" (click)="navigateTo('/login')">
    <mat-card-title>Login</mat-card-title>
    </mat-card>

    <mat-card class="card register" (click)="navigateTo('/register')">
    <mat-card-title>Register</mat-card-title>
    </mat-card>

    <mat-card class="card add-workout" (click)="navigateTo('/training/create')">
    <mat-card-title>Add Workout</mat-card-title>
    </mat-card>

    <mat-card class="card workout-tracking" (click)="navigateTo('/training/statistics')">
    <mat-card-title>Workout Tracking</mat-card-title>
    </mat-card>
</div>